.user {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  cursor: pointer;
  color: #7f8c8d;
}

.user:hover {
  color: #ecf0f1;
}

.user-title {
  text-align: center;
  font-family: KoHo, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.user-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #7f8c8d;
  background-size: 100%;
  background-position: 50% 50%;
}

/*.column {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*}*/

.menu {
  position: absolute;
  /* width: 100%; */ /*   je sais pas faire en sorte que ca fasse la
                            meme largeur que la user bubble u.U         */
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
