.user {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  cursor: pointer;
  color: #7f8c8d;
}

.user:hover {
  color: #ecf0f1;
}

.user-title {
  text-align: center;
  font-family: KoHo, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.user-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #7f8c8d;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.menu {
  z-index: 999;
  position: absolute;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.user-bubble{
  min-width: 120px;
}