.header{
    display: flex;
    height: 50px;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 10px;
}

.header-title {
    color: #ECF0F1;
    text-align: center;
    font-family: Keania One, serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}