.header{
    display: flex;
    height: 50px;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 10px;
}

.header-title {
    color: #ECF0F1;
    text-align: center;
    font-family: Keania One, serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.navigation {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: stretch;

    /* border-radius: 10px;
    background: #2C3E50;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}

/*
The change of svg colors can be computed on :
https://codepen.io/sosuke/pen/Pjoqqp 
*/

.header-navigation-icon{
    filter: invert(57%) sepia(10%) saturate(300%) hue-rotate(136deg) brightness(94%) contrast(88%);
    cursor: pointer;
}

.header-navigation-icon-current{
    filter: invert(95%) sepia(3%) saturate(148%) hue-rotate(145deg) brightness(100%) contrast(96%);
    transform: scale(1.5);
}