
.frame
{
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
}

.frame-left
{
    display: flex;
    width: 700px;
    height: 533px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.frame-right
{
    display: flex;
    padding: 25px 10px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 10px;
    max-height: 80vh; /*a voir*/
    justify-content: center;
}

/* .frame-right::-webkit-scrollbar{
    visibility: none;
    width: 30px;
}

.frame-right::-webkit-scrollbar-thumb{
    background-color :#2C3E50;
}

.frame-right::-webkit-scrollbar-thumb:hover{
    background-color: #2C3E50;
} */
/* ^^^ apparemment pas sur firefox mais valable pour chrome ^^^*/

.skin-selection
{
    display: flex;
    width: 573px;
    height: 359px;
    padding: 20px 0px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex-shrink: 0;
}

.search-bar-full{
    display: flex;
    height: 28px;
    padding-right: 0px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    background: #2ECC71;
    cursor: pointer;

    /* a checker pour la police */
}

.search-bar-text-fill{
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 10px;
    background: #ECF0F1;

    color: #7F8C8D;
    text-align: left;
    
    font-family: 'KoHo', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border: none;
    width: 100%;
}

.search-bar-text-fill::placeholder{
    color: #BDC3C7;
    text-align: left;
    font-family: 'KoHo', sans-serif;
}

.search-bar-text-fill:focus{
    outline:none;
}

.search-bar-text{
    display: flex;
    width: 89px;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    
    color: #ECF0F1;
    text-align: center;
    font-family: 'KoHo', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.quick-invite-bubble{
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 10px;
    background: #2C3E50;
}

.quick-invite-pp-pseudo-group{
    display: flex;
    padding: 2px 0px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    min-width: 130px;   /**to see with max username length*/
}

.quick-invite-profile-picture{
    width: 30px;
    height: 30px;
    border-radius: 90px;
    background: #7F8C8D;
}

.quick-invite-pseudo{
    color: #FFF;
    text-align: center;
    font-family: 'KoHo', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.quick-invite-ratio{
    color: #FFF;
    text-align: center;
    font-family: 'KoHo', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 275;
    line-height: normal;
}

.quick-invite-button {
    display: flex;
    padding: 0px 10px;
    align-items: center;
    border-radius: 10px;
    background: #2980B9;
    border: none;
    cursor: pointer;

    color: #FFF;
    text-align: center;
    font-family: 'KoHo', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.player-skin {
    display: flex;
    padding: 0px 30px;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
}

.player-skin .vector {
    width: 57px;
    height: 49px;
    cursor: pointer;
}
.player-skin .rectangle {
    height: 50px;
    position: relative;
    width: 300px;
}

.play-button
{
    display: flex;
    width: 220px;
    height: 58px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #2ECC71;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #ECF0F1;
    text-align: center;
    font-family: Kodchasan, sans-serif;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.play-text
{
    color: #ECF0F1;
    text-align: center;
    font-family: Kodchasan;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.ball-skin
{
    display: flex;
    padding: 0px 30px;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
}

.ball
{
    border-radius: 90px;
    width: 50px;
    height: 50px;
}

.ball-skin .vector {
    width: 57px;
    height: 49px;
    cursor: pointer;
}

.quick-invite-suggestions {
    overflow-y: auto;
    display: flex;
    height: 250px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    flex: 1 0 0;
}