#root {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.bubble{
    border-radius: 10px;
    background: #2C3E50;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.vertical-separator {
    width: 1px;
    align-self: stretch;
    background: #34495E;
}

.horizontal-separator {
    height: 1px;
    background: #34495E;
    align-self: stretch;
}