.player-skin {
    display: flex;
    padding: 0px 30px;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
}

.player-skin .vector {
    width: 57px;
    height: 49px;
}
.player-skin .rectangle {
    height: 50px;
    position: relative;
    width: 300px;
}