.popup-root {
    position: fixed;
    display: flex;
    width: 450px;
    height: 400px;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    border-radius: 10px;
    background: #34495E;
}