.popup-root {
  display: inline-flex;
  padding: 10px;
  min-height: 350px;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  position: fixed;
  border-radius: 10px;
  background: #34495e;
  z-index: 999;
}

.popover-root {
  position: fixed;
  background: rgba(127, 140, 141, 0.5);
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}
/* 
.button-class {
    margin: 0;
    padding: 0;
} */

.newmessage-button-public {
  margin-right: 10px;
}

.newmessage-button-private {
  margin-left: 10px;
}
