.user {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}

.user-title{
    color: #ECF0F1;
    text-align: center;
    font-family: KoHo, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.user-picture {
    width: 30px;
    height: 30px;
    border-radius: 90px;
    background: #7F8C8D;
    background-size: contain;
    background-position: 50% 50%;
}