POSTGRES_DB=example
POSTGRES_USER=example
POSTGRES_PASSWORD=example
PGADMIN_DEFAULT_EMAIL=example@example.example
PGADMIN_DEFAULT_PASSWORD=example

DATABASE_URL="postgresql://test:test@postgres:5432/pong?schema=public"

REDIS_HOST=redis
REDIS_PORT=6379
